In [19]:
import streamlit as st
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf

%matplotlib inline

In [6]:
aapl = yf.Ticker('AAPL')

In [8]:
aapl.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-08 00:00:00-04:00,177.899994,180.839996,177.460007,180.570007,50214900,0.0,0.0
2023-06-09 00:00:00-04:00,181.500000,182.229996,180.630005,180.960007,48870700,0.0,0.0
2023-06-12 00:00:00-04:00,181.270004,183.889999,180.970001,183.789993,54274900,0.0,0.0
2023-06-13 00:00:00-04:00,182.800003,184.149994,182.440002,183.309998,54929100,0.0,0.0
2023-06-14 00:00:00-04:00,183.369995,184.389999,182.020004,183.949997,57462900,0.0,0.0
2023-06-15 00:00:00-04:00,183.960007,186.520004,183.779999,186.009995,65433200,0.0,0.0
2023-06-16 00:00:00-04:00,186.729996,186.990005,184.270004,184.919998,101235600,0.0,0.0
2023-06-20 00:00:00-04:00,184.410004,186.100006,184.410004,185.009995,49799100,0.0,0.0
2023-06-21 00:00:00-04:00,184.899994,185.410004,182.589996,183.960007,49515700,0.0,0.0
2023-06-22 00:00:00-04:00,183.740005,187.050003,183.669998,187.000000,51245300,0.0,0.0
2023-06-23 00:00:00-04:00,185.550003,187.559998,185.009995,186.679993,53079300,0.0,0.0
2023-06-26 00:00:00-04:00,186.830002,188.050003,185.229996,185.270004,48088700,0.0,0.0
2023-06-27 00:00:00-04:00,185.889999,188.389999,185.669998,188.059998,50730800,0.0,0.0
2023-06-28 00:00:00-04:00,187.929993,189.899994,187.600006,189.250000,51216800,0.0,0.0
2023-06-29 00:00:00-04:00,189.080002,190.070007,188.940002,189.589996,46347300,0.0,0.0
2023-06-30 00:00:00-04:00,191.630005,194.479996,191.259995,193.970001,85069600,0.0,0.0
2023-07-03 00:00:00-04:00,193.779999,193.880005,191.759995,192.460007,31458200,0.0,0.0
2023-07-05 00:00:00-04:00,191.570007,192.979996,190.619995,191.330002,46920300,0.0,0.0
2023-07-06 00:00:00-04:00,189.839996,192.020004,189.199997,191.809998,45094300,0.0,0.0
2023-07-07 00:00:00-04:00,191.410004,192.669998,190.240005,190.679993,46778000,0.0,0.0

In [13]:
days = 50
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-04-26 00:00:00-04:00,162.834768,165.051703,162.575133,163.533798,45498800,0.00,0.0
2023-04-27 00:00:00-04:00,164.961830,168.327170,164.961830,168.177383,64902300,0.00,0.0
2023-04-28 00:00:00-04:00,168.257274,169.615396,167.648116,169.445618,55209200,0.00,0.0
2023-05-01 00:00:00-04:00,169.046174,170.214556,168.407059,169.355743,52472900,0.00,0.0
2023-05-02 00:00:00-04:00,169.855052,170.114703,167.308571,168.307190,48425700,0.00,0.0
2023-05-03 00:00:00-04:00,169.265876,170.683912,166.929111,167.218704,65136000,0.00,0.0
2023-05-04 00:00:00-04:00,164.662239,166.809263,164.083038,165.560989,81235400,0.00,0.0
2023-05-05 00:00:00-04:00,170.743827,174.059249,170.524130,173.330261,113316400,0.00,0.0
2023-05-08 00:00:00-04:00,172.241750,173.609868,171.872266,173.260345,55962800,0.00,0.0
2023-05-09 00:00:00-04:00,172.810976,173.300290,171.362982,171.532745,45326900,0.00,0.0
2023-05-10 00:00:00-04:00,172.781019,173.789619,171.662556,173.320267,53724500,0.00,0.0
2023-05-11 00:00:00-04:00,173.609878,174.348846,171.932190,173.510010,49514700,0.00,0.0
2023-05-12 00:00:00-04:00,173.619995,174.059998,171.000000,172.570007,45497800,0.24,0.0
2023-05-15 00:00:00-04:00,173.160004,173.210007,171.470001,172.070007,37266700,0.00,0.0
2023-05-16 00:00:00-04:00,171.990005,173.139999,171.800003,172.070007,42110300,0.00,0.0
2023-05-17 00:00:00-04:00,171.710007,172.929993,170.419998,172.690002,57951600,0.00,0.0
2023-05-18 00:00:00-04:00,173.000000,175.240005,172.580002,175.050003,65496700,0.00,0.0
2023-05-19 00:00:00-04:00,176.389999,176.389999,174.940002,175.160004,55772400,0.00,0.0
2023-05-22 00:00:00-04:00,173.979996,174.710007,173.449997,174.199997,43570900,0.00,0.0
2023-05-23 00:00:00-04:00,173.130005,173.380005,171.279999,171.559998,50747300,0.00,0.0
2023-05-24 00:00:00-04:00,171.089996,172.419998,170.520004,171.839996,45143500,0.00,0.0
2023-05-25 00:00:00-04:00,172.410004,173.899994,171.690002,172.990005,56058300,0.00,0.0
2023-05-26 00:00:00-04:00,173.320007,175.770004,173.110001,175.429993,54835000,0.00,0.0
2023-05-30 00:00:00-04:00,176.960007,178.990005,176.570007,177.300003,55964400,0.00,0.0
2023-05-31 00:00:00-04:00,177.330002,179.350006,176.759995,177.250000,99625300,0.00,0.0
2023-06-01 00:00:00-04:00,177.699997,180.119995,176.929993,180.089996,68901800,0.00,0.0
2023-06-02 00:00:00-04:00,181.029999,181.779999,179.259995,180.949997,61945900,0.00,0.0
2023-06-05 00:00:00-04:00,182.630005,184.949997,178.039993,179.580002,121946500,0.00,0.0
2023-06-06 00:00:00-04:00,179.970001,180.119995,177.429993,179.210007,64848400,0.00,0.0
2023-06-07 00:00:00-04:00,178.440002,181.210007,177.320007,177.820007,61944600,0.00,0.0
2023-06-08 00:00:00-04:00,177.899994,180.839996,177.460007,180.570007,50214900,0.00,0.0
2023-06-09 00:00:00-04:00,181.500000,182.229996,180.630005,180.960007,48870700,0.00,0.0
2023-06-12 00:00:00-04:00,181.270004,183.889999,180.970001,183.789993,54274900,0.00,0.0
2023-06-13 00:00:00-04:00,182.800003,184.149994,182.440002,183.309998,54929100,0.00,0.0
2023-06-14 00:00:00-04:00,183.369995,184.389999,182.020004,183.949997,57462900,0.00,0.0
2023-06-15 00:00:00-04:00,183.960007,186.520004,183.779999,186.009995,65433200,0.00,0.0
2023-06-16 00:00:00-04:00,186.729996,186.990005,184.270004,184.919998,101235600,0.00,0.0
2023-06-20 00:00:00-04:00,184.410004,186.100006,184.410004,185.009995,49799100,0.00,0.0
2023-06-21 00:00:00-04:00,184.899994,185.410004,182.589996,183.960007,49515700,0.00,0.0
2023-06-22 00:00:00-04:00,183.740005,187.050003,183.669998,187.000000,51245300,0.00,0.0
2023-06-23 00:00:00-04:00,185.550003,187.559998,185.009995,186.679993,53079300,0.00,0.0
2023-06-26 00:00:00-04:00,186.830002,188.050003,185.229996,185.270004,48088700,0.00,0.0
2023-06-27 00:00:00-04:00,185.889999,188.389999,185.669998,188.059998,50730800,0.00,0.0
2023-06-28 00:00:00-04:00,187.929993,189.899994,187.600006,189.250000,51216800,0.00,0.0
2023-06-29 00:00:00-04:00,189.080002,190.070007,188.940002,189.589996,46347300,0.00,0.0
2023-06-30 00:00:00-04:00,191.630005,194.479996,191.259995,193.970001,85069600,0.00,0.0
2023-07-03 00:00:00-04:00,193.779999,193.880005,191.759995,192.460007,31458200,0.00,0.0
2023-07-05 00:00:00-04:00,191.570007,192.979996,190.619995,191.330002,46920300,0.00,0.0
2023-07-06 00:00:00-04:00,189.839996,192.020004,189.199997,191.809998,45094300,0.00,0.0
2023-07-07 00:00:00-04:00,191.410004,192.669998,190.240005,190.679993,46778000,0.00,0.0

In [15]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-04-26 00:00:00-04:00,162.834768,165.051703,162.575133,163.533798,45498800,0.00,0.0
1,2023-04-27 00:00:00-04:00,164.961830,168.327170,164.961830,168.177383,64902300,0.00,0.0
2,2023-04-28 00:00:00-04:00,168.257274,169.615396,167.648116,169.445618,55209200,0.00,0.0
3,2023-05-01 00:00:00-04:00,169.046174,170.214556,168.407059,169.355743,52472900,0.00,0.0
4,2023-05-02 00:00:00-04:00,169.855052,170.114703,167.308571,168.307190,48425700,0.00,0.0
5,2023-05-03 00:00:00-04:00,169.265876,170.683912,166.929111,167.218704,65136000,0.00,0.0
6,2023-05-04 00:00:00-04:00,164.662239,166.809263,164.083038,165.560989,81235400,0.00,0.0
7,2023-05-05 00:00:00-04:00,170.743827,174.059249,170.524130,173.330261,113316400,0.00,0.0
8,2023-05-08 00:00:00-04:00,172.241750,173.609868,171.872266,173.260345,55962800,0.00,0.0
9,2023-05-09 00:00:00-04:00,172.810976,173.300290,171.362982,171.532745,45326900,0.00,0.0
10,2023-05-10 00:00:00-04:00,172.781019,173.789619,171.662556,173.320267,53724500,0.00,0.0
11,2023-05-11 00:00:00-04:00,173.609878,174.348846,171.932190,173.510010,49514700,0.00,0.0
12,2023-05-12 00:00:00-04:00,173.619995,174.059998,171.000000,172.570007,45497800,0.24,0.0
13,2023-05-15 00:00:00-04:00,173.160004,173.210007,171.470001,172.070007,37266700,0.00,0.0
14,2023-05-16 00:00:00-04:00,171.990005,173.139999,171.800003,172.070007,42110300,0.00,0.0
15,2023-05-17 00:00:00-04:00,171.710007,172.929993,170.419998,172.690002,57951600,0.00,0.0
16,2023-05-18 00:00:00-04:00,173.000000,175.240005,172.580002,175.050003,65496700,0.00,0.0
17,2023-05-19 00:00:00-04:00,176.389999,176.389999,174.940002,175.160004,55772400,0.00,0.0
18,2023-05-22 00:00:00-04:00,173.979996,174.710007,173.449997,174.199997,43570900,0.00,0.0
19,2023-05-23 00:00:00-04:00,173.130005,173.380005,171.279999,171.559998,50747300,0.00,0.0
20,2023-05-24 00:00:00-04:00,171.089996,172.419998,170.520004,171.839996,45143500,0.00,0.0
21,2023-05-25 00:00:00-04:00,172.410004,173.899994,171.690002,172.990005,56058300,0.00,0.0
22,2023-05-26 00:00:00-04:00,173.320007,175.770004,173.110001,175.429993,54835000,0.00,0.0
23,2023-05-30 00:00:00-04:00,176.960007,178.990005,176.570007,177.300003,55964400,0.00,0.0
24,2023-05-31 00:00:00-04:00,177.330002,179.350006,176.759995,177.250000,99625300,0.00,0.0
25,2023-06-01 00:00:00-04:00,177.699997,180.119995,176.929993,180.089996,68901800,0.00,0.0
26,2023-06-02 00:00:00-04:00,181.029999,181.779999,179.259995,180.949997,61945900,0.00,0.0
27,2023-06-05 00:00:00-04:00,182.630005,184.949997,178.039993,179.580002,121946500,0.00,0.0
28,2023-06-06 00:00:00-04:00,179.970001,180.119995,177.429993,179.210007,64848400,0.00,0.0
29,2023-06-07 00:00:00-04:00,178.440002,181.210007,177.320007,177.820007,61944600,0.00,0.0
30,2023-06-08 00:00:00-04:00,177.899994,180.839996,177.460007,180.570007,50214900,0.00,0.0
31,2023-06-09 00:00:00-04:00,181.500000,182.229996,180.630005,180.960007,48870700,0.00,0.0
32,2023-06-12 00:00:00-04:00,181.270004,183.889999,180.970001,183.789993,54274900,0.00,0.0
33,2023-06-13 00:00:00-04:00,182.800003,184.149994,182.440002,183.309998,54929100,0.00,0.0
34,2023-06-14 00:00:00-04:00,183.369995,184.389999,182.020004,183.949997,57462900,0.00,0.0
35,2023-06-15 00:00:00-04:00,183.960007,186.520004,183.779999,186.009995,65433200,0.00,0.0
36,2023-06-16 00:00:00-04:00,186.729996,186.990005,184.270004,184.919998,101235600,0.00,0.0
37,2023-06-20 00:00:00-04:00,184.410004,186.100006,184.410004,185.009995,49799100,0.00,0.0
38,2023-06-21 00:00:00-04:00,184.899994,185.410004,182.589996,183.960007,49515700,0.00,0.0
39,2023-06-22 00:00:00-04:00,183.740005,187.050003,183.669998,187.000000,51245300,0.00,0.0
40,2023-06-23 00:00:00-04:00,185.550003,187.559998,185.009995,186.679993,53079300,0.00,0.0
41,2023-06-26 00:00:00-04:00,186.830002,188.050003,185.229996,185.270004,48088700,0.00,0.0
42,2023-06-27 00:00:00-04:00,185.889999,188.389999,185.669998,188.059998,50730800,0.00,0.0
43,2023-06-28 00:00:00-04:00,187.929993,189.899994,187.600006,189.250000,51216800,0.00,0.0
44,2023-06-29 00:00:00-04:00,189.080002,190.070007,188.940002,189.589996,46347300,0.00,0.0
45,2023-06-30 00:00:00-04:00,191.630005,194.479996,191.259995,193.970001,85069600,0.00,0.0
46,2023-07-03 00:00:00-04:00,193.779999,193.880005,191.759995,192.460007,31458200,0.00,0.0
47,2023-07-05 00:00:00-04:00,191.570007,192.979996,190.619995,191.330002,46920300,0.00,0.0
48,2023-07-06 00:00:00-04:00,189.839996,192.020004,189.199997,191.809998,45094300,0.00,0.0
49,2023-07-07 00:00:00-04:00,191.410004,192.669998,190.240005,190.679993,46778000,0.00,0.0

In [17]:
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-04-26 00:00:00-04:00,296.052824,298.916559,292.091482,294.725708,64599200,0.0,0.0
2023-04-27 00:00:00-04:00,295.324410,304.534288,294.605980,304.165070,46462600,0.0,0.0
2023-04-28 00:00:00-04:00,303.346872,308.256123,302.648387,306.589783,36446700,0.0,0.0
2023-05-01 00:00:00-04:00,306.300422,307.926871,304.484384,304.893494,21294100,0.0,0.0
2023-05-02 00:00:00-04:00,307.088685,308.505570,303.247077,304.743805,26404400,0.0,0.0

In [20]:
pd.concat([hist,hist_msft],axis = 1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2023-04-26 00:00:00-04:00,162.834768,165.051703,162.575133,163.533798,45498800,0.0,0.0,296.052824,298.916559,292.091482,294.725708,64599200,0.0,0.0
2023-04-27 00:00:00-04:00,164.961830,168.327170,164.961830,168.177383,64902300,0.0,0.0,295.324410,304.534288,294.605980,304.165070,46462600,0.0,0.0
2023-04-28 00:00:00-04:00,168.257274,169.615396,167.648116,169.445618,55209200,0.0,0.0,303.346872,308.256123,302.648387,306.589783,36446700,0.0,0.0
2023-05-01 00:00:00-04:00,169.046174,170.214556,168.407059,169.355743,52472900,0.0,0.0,306.300422,307.926871,304.484384,304.893494,21294100,0.0,0.0
2023-05-02 00:00:00-04:00,169.855052,170.114703,167.308571,168.307190,48425700,0.0,0.0,307.088685,308.505570,303.247077,304.743805,26404400,0.0,0.0

In [21]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-04-26 00:00:00-04:00,162.834768,165.051703,162.575133,163.533798,45498800,0.0,0.0
2023-04-27 00:00:00-04:00,164.961830,168.327170,164.961830,168.177383,64902300,0.0,0.0
2023-04-28 00:00:00-04:00,168.257274,169.615396,167.648116,169.445618,55209200,0.0,0.0

In [27]:
hist.index = hist.index.strftime('%d %B %Y')

In [28]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
26 April 2023,162.834768,165.051703,162.575133,163.533798,45498800,0.00,0.0
27 April 2023,164.961830,168.327170,164.961830,168.177383,64902300,0.00,0.0
28 April 2023,168.257274,169.615396,167.648116,169.445618,55209200,0.00,0.0
01 May 2023,169.046174,170.214556,168.407059,169.355743,52472900,0.00,0.0
02 May 2023,169.855052,170.114703,167.308571,168.307190,48425700,0.00,0.0
03 May 2023,169.265876,170.683912,166.929111,167.218704,65136000,0.00,0.0
04 May 2023,164.662239,166.809263,164.083038,165.560989,81235400,0.00,0.0
05 May 2023,170.743827,174.059249,170.524130,173.330261,113316400,0.00,0.0
08 May 2023,172.241750,173.609868,171.872266,173.260345,55962800,0.00,0.0
09 May 2023,172.810976,173.300290,171.362982,171.532745,45326900,0.00,0.0
10 May 2023,172.781019,173.789619,171.662556,173.320267,53724500,0.00,0.0
11 May 2023,173.609878,174.348846,171.932190,173.510010,49514700,0.00,0.0
12 May 2023,173.619995,174.059998,171.000000,172.570007,45497800,0.24,0.0
15 May 2023,173.160004,173.210007,171.470001,172.070007,37266700,0.00,0.0
16 May 2023,171.990005,173.139999,171.800003,172.070007,42110300,0.00,0.0
17 May 2023,171.710007,172.929993,170.419998,172.690002,57951600,0.00,0.0
18 May 2023,173.000000,175.240005,172.580002,175.050003,65496700,0.00,0.0
19 May 2023,176.389999,176.389999,174.940002,175.160004,55772400,0.00,0.0
22 May 2023,173.979996,174.710007,173.449997,174.199997,43570900,0.00,0.0
23 May 2023,173.130005,173.380005,171.279999,171.559998,50747300,0.00,0.0
24 May 2023,171.089996,172.419998,170.520004,171.839996,45143500,0.00,0.0
25 May 2023,172.410004,173.899994,171.690002,172.990005,56058300,0.00,0.0
26 May 2023,173.320007,175.770004,173.110001,175.429993,54835000,0.00,0.0
30 May 2023,176.960007,178.990005,176.570007,177.300003,55964400,0.00,0.0
31 May 2023,177.330002,179.350006,176.759995,177.250000,99625300,0.00,0.0
01 June 2023,177.699997,180.119995,176.929993,180.089996,68901800,0.00,0.0
02 June 2023,181.029999,181.779999,179.259995,180.949997,61945900,0.00,0.0
05 June 2023,182.630005,184.949997,178.039993,179.580002,121946500,0.00,0.0
06 June 2023,179.970001,180.119995,177.429993,179.210007,64848400,0.00,0.0
07 June 2023,178.440002,181.210007,177.320007,177.820007,61944600,0.00,0.0
08 June 2023,177.899994,180.839996,177.460007,180.570007,50214900,0.00,0.0
09 June 2023,181.500000,182.229996,180.630005,180.960007,48870700,0.00,0.0
12 June 2023,181.270004,183.889999,180.970001,183.789993,54274900,0.00,0.0
13 June 2023,182.800003,184.149994,182.440002,183.309998,54929100,0.00,0.0
14 June 2023,183.369995,184.389999,182.020004,183.949997,57462900,0.00,0.0
15 June 2023,183.960007,186.520004,183.779999,186.009995,65433200,0.00,0.0
16 June 2023,186.729996,186.990005,184.270004,184.919998,101235600,0.00,0.0
20 June 2023,184.410004,186.100006,184.410004,185.009995,49799100,0.00,0.0
21 June 2023,184.899994,185.410004,182.589996,183.960007,49515700,0.00,0.0
22 June 2023,183.740005,187.050003,183.669998,187.000000,51245300,0.00,0.0
23 June 2023,185.550003,187.559998,185.009995,186.679993,53079300,0.00,0.0
26 June 2023,186.830002,188.050003,185.229996,185.270004,48088700,0.00,0.0
27 June 2023,185.889999,188.389999,185.669998,188.059998,50730800,0.00,0.0
28 June 2023,187.929993,189.899994,187.600006,189.250000,51216800,0.00,0.0
29 June 2023,189.080002,190.070007,188.940002,189.589996,46347300,0.00,0.0
30 June 2023,191.630005,194.479996,191.259995,193.970001,85069600,0.00,0.0
03 July 2023,193.779999,193.880005,191.759995,192.460007,31458200,0.00,0.0
05 July 2023,191.570007,192.979996,190.619995,191.330002,46920300,0.00,0.0
06 July 2023,189.839996,192.020004,189.199997,191.809998,45094300,0.00,0.0
07 July 2023,191.410004,192.669998,190.240005,190.679993,46778000,0.00,0.0

In [30]:
hist = hist[['Close']]

In [32]:
hist.columns = ['apple']

In [34]:
hist.head()

                    apple
Date
26 April 2023  163.533798
27 April 2023  168.177383
28 April 2023  169.445618
01 May 2023    169.355743
02 May 2023    168.307190

In [35]:
hist = hist.T

In [36]:
hist

Date,26 April 2023,27 April 2023,28 April 2023,01 May 2023,02 May 2023,03 May 2023,04 May 2023,05 May 2023,08 May 2023,09 May 2023,...,23 June 2023,26 June 2023,27 June 2023,28 June 2023,29 June 2023,30 June 2023,03 July 2023,05 July 2023,06 July 2023,07 July 2023
apple,163.533798,168.177383,169.445618,169.355743,168.30719,167.218704,165.560989,173.330261,173.260345,171.532745,...,186.679993,185.270004,188.059998,189.25,189.589996,193.970001,192.460007,191.330002,191.809998,190.679993

In [37]:
hist.index.name = 'Name'

In [38]:
hist

Date,26 April 2023,27 April 2023,28 April 2023,01 May 2023,02 May 2023,03 May 2023,04 May 2023,05 May 2023,08 May 2023,09 May 2023,...,23 June 2023,26 June 2023,27 June 2023,28 June 2023,29 June 2023,30 June 2023,03 July 2023,05 July 2023,06 July 2023,07 July 2023
Name,,,,,,,,,,,,,,,,,,,,,
apple,163.533798,168.177383,169.445618,169.355743,168.30719,167.218704,165.560989,173.330261,173.260345,171.532745,...,186.679993,185.270004,188.059998,189.25,189.589996,193.970001,192.460007,191.330002,191.809998,190.679993